@page
@model SAMS.Pages.Students.GetStudentsModel
@{
    ViewData["Title"] = "List of Students";
}
@if (Model.WaitingListOpen == false)
{
<h5>All Students</h5>
<form method="post">
        <button  type="submit" class="btn btn-primary">Waiting List</button>
    </form>
}
else
{
    <h5>Waiting list</h5>

        <a asp-page="/GetStudents"class="btn btn-primary">List of All Students</a>
}

<table class="table">
    <thead>
        <tr>
            <th>Student No.</th>
            <th>Name</th>
            <th>Address</th>
            <th>Has a room</th>
            <th>Registration date</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Students)
        {
            <tr>
                <td>@item.Student_No</td>
                <td>@item.SName</td>
                <td>@item.SAddress</td>
                <td>@item.Has_Room</td>
                <td>@item.Registration_Date.ToLongDateString()</td>
                <td><a asp-page="DeleteStudent" asp-route-no="@item.Student_No" class="btn btn-danger">Delete</a>
                    <a asp-page="StudentLeasings" asp-route-no="@item.Student_No" class="btn btn-primary">Leasings</a></td>
            </tr>
        }
    </tbody>
</table>

