@page "{no}"
@model SAMS.Pages.Students.StudentLeasingsModel
@{
    ViewData["Title"] = "StudentLeasings";
}

<h3>All leasings for student no. @Model.StudentLeasingsViewModel.Student_No</h3>
        <div>
            <dl class="row">
                <dt class="col-sm-2">   @Html.DisplayNameFor(model => model.StudentLeasingsViewModel.SName)   </dt>
                <dd class="col-sm-10">   @Html.DisplayFor(model => model.StudentLeasingsViewModel.SName)  </dd>
                <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.StudentLeasingsViewModel.Leasing_No)</dt>
                <dd class="col-sm-10">   @Html.DisplayFor(model => model.StudentLeasingsViewModel.Leasing_No)  </dd>
                <dt class="col-sm-2">  Leasing</dt>
                <dd class="col-sm-10">
                    <table class="table table-hover table-dark">
                        <tr>
                            <th>Place No.</th>
                    @if(Model.StudentLeasingsViewModel.Dormitory_No == null)
                    {
                        <th>Apartment No.</th>
                    }
                    else
                    {
                        <th>Dormitory No.</th>
                    }
                    <th>Rent per semester (kr.)</th>
                </tr>
                            <tr>
                                <td>@Html.DisplayFor(model => model.StudentLeasingsViewModel.Place_No)</td>
                                <td>@Html.DisplayFor(model => model.StudentLeasingsViewModel.Appart_No)
                                @Html.DisplayFor(model => model.StudentLeasingsViewModel.Dormitory_No)</td>
                                <td>@Html.DisplayFor(model => model.StudentLeasingsViewModel.Rent_Per_Semester)</td>
                            </tr>
                    </table>
                </dd>
            </dl>
        </div>