@page
@model SAMS.Pages.SignUpModel
@{
}
<div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
    <h3>Sign up here</h3>
    <form method="post">
        <div class="inputBox"> 
            <div>
            <input asp-for="@Model.User.Username"id="uname" type="text" name="Username" placeholder="Username"> 
            <span asp-validation-for="@Model.User.Username"></span>
    </div>
    <div>
            <input asp-for="@Model.User.Password" id="pass" type="password" name="Password" placeholder="Password"> 
            <span asp-validation-for="@Model.User.Password"></span>
    </div>
    <div>
            <input asp-for="@Model.User.Student_No" id="no" type="number" name="Student_No" placeholder="Student No."> 
            <span asp-validation-for="@Model.User.Student_No"></span>
    </div>
        </div> 
            <input type="submit" name="" value="Sign Up">
    </form>
    <div class="text-center">
        <a style="color: #2596be;" asp-page="/Login">Login</a>
    </div>
</div>